{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h2>Welcome to GraphFHIR!</h2>
    <p>GraphFHIR helps you visualise patients' observation data on Blood Pressure, 
       Diastolic Blood Pressure, and Systolic Blood Pressure.</p>
</div>

<div class="container">
    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
            <h6>Please enter the patient ID in the FHIR records that you want to search for.</h6>
        </div>
        <div class="form-group">
            <div class="input text">
                {{ form.patient_id.label }}<br>
                {{ form.patient_id(size=32) }}
            </div>
        </div>
        <div class="form-group">
            <div class="input submit">
                <input type="submit" value="Next">
            </div>
        </div>
    </form>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            <p style="color:burlywood;font-size:12px;">{{ message[1] }}</p>
        {% endfor %}</ul>
    {% endif %}
{% endwith %}

<br>
<div>
    <p style="color:grey;font-size:12px;">Valid patient ID examples: </p>
    <ul style="color:grey;font-size:12px;">
        <li>8f789d0b-3145-4cf2-8504-13159edaa747</li>
        <li>b905139e-1601-403c-9d85-f8e3997cdd19</li>
        <li>d9eb4cf6-2894-4627-b912-bbdca07b0401</li>
    </ul>
</div>

{% endblock %}


    <!-- 
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>{% for message in messages %}
                <li>{{ message[1] }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endwith %} -->