{% extends "base.html" %}

{% block content %}
<head>
    <!-- import the Chart.js plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>
<center>
<div style="width: 90%;">
    <canvas id="lineChart" width="600" height="400"></canvas>
</div>
<script>
    var chartData1 = {
        label: '{{ds_labels[0]}}',
        borderColor: '{{colors[0]}}',
        borderWidth: 2,
        fill: false,
        data: [{% for item in values[0] %}
               {{item}},
               {% endfor %}]
        };

    var chartData2 = {
        label: '{{ds_labels[1]}}',
        borderColor: '{{colors[1]}}',
        borderWidth: 2,
        fill: false,
        data: [{% for item in values[1] %}
               {{item}},
               {% endfor %}]
        };

    var chartData3 = {
        label: '{{ds_labels[2]}}',
        borderColor: '{{colors[2]}}',
        borderWidth: 2,
        fill: false,
        data: [{% for item in values[2] %}
               {{item}},
               {% endfor %}]
        };

    var patientData = {
        labels: [{% for item in labels %}
                 "{{item}}",
                 {% endfor %}],
        datasets: [chartData1, chartData2, chartData3]
    };

    var ctx = document.getElementById('lineChart');

    var lineChart = new Chart(ctx, {
        type: 'line',
        data: patientData,
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'observation issued datetime (YYYY-MM-DD)',
                        fontStyle: "bold"
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'observation value (mm[Hg])',
                        fontStyle: "bold"
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Blood Pressure Observation Data for {{name}}',
                fontSize: 20
            }
        },
    });
</script>
</center>
<br>
<p style="color:grey;font-size:12px;"><i>Note: The Blood Pressure observation values are None in this GOSH FHIR records.</i></p>
</body>

{% endblock %}