<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <!-- import the Chart.js plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>
    <center><h1>{{ title }}</h1></center>
    <center>
        <div style="width: 90%;">
            <canvas id="pieChart" width="600" height="400"></canvas>
        </div>
        <script>
            var chartData = {
                labels : [{% for item in labels %}
                          "{{item}}",
                          {% endfor %}],
                datasets : [{
                    label: 'label for pie chart',
                    backgroundColor: [{% for item in colors %}
                                      "{{item}}",
                                      {% endfor %}],
                    data : [{% for item in values %}
                            {{item}},
                            {% endfor %}],
                }]
            };
            
            var ctx = document.getElementById('pieChart');

            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                options: {
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'x-axis label'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'y-axis label'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'title for pie chart'
                    }
                }
            });
        </script>
    </center>
</body>